<!doctype html>
<html lang="en">
{% load static %}
  <head>
    {% block bootstrap3_extra_head %}
    <link rel="icon" href="{% static 'img/myfavicon.ico' %}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Michael DeMaria</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

  <body>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Project Details</h1>
          <p class="lead text-muted">{{ project.summary }}</p>
          <p>
          </p>
          <img src="{{ project.image.url }}" height=500 alt=""></img>
          <p><p>
            <a href="{% url 'home' %}" class="btn btn-primary my-2">Back</a>
        </div>
      </section>
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery-3.3.1.min' %}"></script>
    <script src="{% static 'popper.min.js' }"></script>
    <script src="{% static 'js/bootstrap.min.js' }"></script>

  </body>
</html>
