<!doctype html>
<html lang="en">
{% load static %}
  <head>
    {% block bootstrap3_extra_head %}
    <link rel="icon" href="{% static 'img/myfavicon.ico' %}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Michael DeMaria</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

  <body>



    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Michael DeMaria</h1>
          <p class="lead text-muted">Hi, my name is Mike. I am in Information Technology student at Florida State University. Here's some of my work.</p>
          <p>
            <a href="mailto:mtd16@my.fsu.edu" class="btn btn-primary my-2">Email Me</a>
          </p>
          <img src="{% static 'headshot.jpg' %}" height=400 alt=""></img>
          <br>
            <a href="https://bitbucket.org/mtd16/" class="btn btn-primary my-3">View my BitBucket Repos</a>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for project in projects.all %}
            <div class="col-md-4">
              <a href="{% url 'detail' project.id %}">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ project.image.url }}">
                <div class="card-body">
                  <p class="card-text">{{ project.summary }}</p>

                </div>
              </div>
              <a>
            </div>
        {% endfor %}
      </div>
    </div>


    </main>

    <p>
    <center>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/mtdemaria" data-format="inline" data-related="false"></script>
  </center>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <center>
          <a href="#">Back to top</a>
        </center>
        </p>

        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery-3.3.1.min' %}"></script>
    <script src="{% static 'popper.min.js' }"></script>
    <script src="{% static 'js/bootstrap.min.js' }"></script>

  </body>
</html>
